/* @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap'); */
*{
    margin: 0;
    padding: 0;
}
body{
    height: 1200px;
}
h1{
    /* font-family: 'Climate Crisis'; */
    font-family: 'Poppins', sans-serif;
    color: #41c1c1;
    /* cursor: pointer; */
    /* cursor: crosshair; */
}
/* button{
    cursor: pointer;
} */
.example{
    /* position: relative; */
    /* top:100px;
    left: -30px; */
    border: 1px solid red;
    position: absolute;
}
button{
    position: relative;
    top: 1110px;
}
/* h1 {
    position:absolute;
    background: #ababab; */
/* z-index:  5px; */
   /* left: 900px; */
   /* top: 100px; */
    /* width: 250px; */
    /* position: fixed ; */
/* } */
/* p{ */
    /* width: 450px; */
/* opacity:  0.9px; */
/* z-index: 10; */


/* } */
/* h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px; 
     width: 100%;
    background-color: #efefef;
    z-index: 6;} */
    /* p {
    position: relative;
    z-index: ;
    } */

    blockquote{
        /* width: 250px; */
        float: right;
        /* border-top-width:1px ; */
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: black;

    }